<html layout:decorate="~{layout}">
  <div layout:fragment="content" class="container my-3">
	  <h2> 질문 게시판 </h2>
    <div class="container my-3">
	 <table class="table-dart">
      <thead>
		<th> 번호</th>  
        <th> 제목 </th>
        <th> 작성일 </th>
      </thead>
        <tr th:each = "question, loop: ${questionList}">
			<td th:text="${loop.count}"> </td> 
            <td>
				<a th:href="@{|/question/detail/${question.id}|}"  th:text="${question.subject}"> </a>
			</td>
            <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"> </td>
         </tr>
     </table>
     <a th:href="@{/question/create}" class="btn btn-primary">  질문 등록하기   </a> 
	</div>
  </div>	
</html>
