<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>상품 데이터 출력 예제</h1>
    	
	<div th:text="${p1}"></div>
	<div th:text="${p2}"></div>
	
    <div>
        상품명 : <span th:text="${itemDto.itemNm}"></span>
    </div>
    <div>
        상품가격 : <span th:text="${itemDto.price}"></span>
    </div>
    <div>
        상품상세내역 : <span th:text="${itemDto.itemDetail}"></span>
    </div>
    
</body>
</html>